.proposal-banner h1 {
    font-size: 14rem;
    max-width: 100%;
    color: #69aa4a;
    margin: 10px 0;
    text-shadow: -4px 4px 0px white;
    -webkit-text-stroke: 2px black;
    position: relative;
  
  }

h3 {
    font-size: 3rem;
    max-width: 100%;
    line-height: 120px;
    margin-top: -40px;
    margin: -40px 0 0 0;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.284);
    color: #69aa4a;
    -webkit-text-stroke: 1px #000000;
    position: relative; 
}
span {
    letter-spacing: 0;
  }
  
.phantom{
    color: #AB9FF2;
}
.solana{
    color: #9945FF;
}
.jupiter{
    color: #F9A43A;
}
.croki{
    color: #c44bf6;
}

@media (max-width: 768px) {
    .proposal-banner h1{
        font-size: 6rem;
        line-height: 120px;
    }
    h3{
        line-height: 50px;
        font-size: 2rem;
        margin: 5px 0px;
    }
}
