.header {
    text-align: center;
    background-color: #3CB043; /* Cor de fundo verde */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: contain;
    width: 100vw;
  }
  .header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    background: url('../assets/grass_1.png') bottom no-repeat;
    background-size: cover;
    pointer-events: none; /* Garante que o conteúdo não seja clicável */
  }
  
  .croki-image {
    width: 600px;
    height: auto;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  
  h1 {
    font-size: 14rem;
    color: #A020F0;
    margin: 10px 0;
    text-shadow: -4px 4px 0px white;
    -webkit-text-stroke: 2px #5e118d;
    position: relative;
    
  }
  .butterfly-image {
    position: absolute;
    top: 30px; /* Ajuste conforme necessário */
    right: 0px; /* Ajuste conforme necessário */
    width: 55px; /* Ajuste conforme necessário */
    height: auto;
  }
  
  .buy-now {
    background-color: #A020F0; /* Cor roxa */
    color: white;
    border: none;
    padding: 15px 150px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 00px;
    border: solid black 8px;
    font-family: 'every';
    box-shadow: -4px 4px 0px white;
  }
  
  .buy-now:hover {
    background-color: #8B008B;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  .footer-text {
    position: absolute;
    bottom: 10px; /* Ajuste conforme necessário */
    width: 100%;
    text-align: center;
    color: #154e19; /* Ajuste a cor conforme necessário */
    font-size: 1.3rem; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: 'every'; /* Substitua pela fonte desejada */
  }
  
  /* Media queries para diferentes tamanhos de tela */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      justify-content: start;
      padding-top: 150px;
      height: calc(100vh - 150px);
      
    }
  
    .croki-image {
      width: 300px; /* Ajuste o tamanho da imagem para telas menores */
      order: 2;
      margin-top: 17vh;
      margin-left: 90vw;
    }
  
    .header-content {
      margin-left: 0;
    }
  
    h1 {
      font-size: 8rem; /* Ajuste o tamanho da fonte para telas menores */
    }
  
    .butterfly-image {
      width: 30px; /* Ajuste o tamanho da borboleta para telas menores */
      top: 20px; /* Ajuste conforme necessário */
      right: 0px; /* Ajuste conforme necessário */
    }
  
    .buy-now {
      padding: 10px 20px; /* Ajuste o padding para telas menores */
      font-size: 2rem; /* Ajuste o tamanho da fonte para o botão */
     
    }
  
    .social-icons .icon {
      font-size: 2rem; /* Ajuste o tamanho dos ícones para telas menores */
      margin: 0 10px;
    }
  
    .footer-text {
      font-size: 0.8rem; /* Ajuste o tamanho da fonte para telas menores */
      bottom: 95px; /* Ajuste a posição para telas menores */
    }
  }